*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
# Android Studio
*.iml
.idea
.idea/*
#.idea/workspace.xml - remove # and delete .idea if it better suit your 
needs.
.gradle
build/
.navigation
captures/
output.json 
